name: build

on:
  push:
    branches: "*"
  pull_request:
    branches: "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.201

      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --configuration Release --no-build --verbosity normal --logger:trx
      - name: Upload Test Results
        uses: actions/upload-artifact@v2.2.0
        with:
          # Artifact name
          name: Test Results
          # A file, directory or wildcard pattern that describes what to upload
          path: "**/*.trx"
